.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
#top-menu {
  @include grid-row();
}
.xdebug-error {
  display: none;
}